{
  "extends": "airbnb/base",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": false }],
    "quotes": "off",
    "arrow-parens": "off",
    "no-param-reassign": "off",
    "comma-dangle": "off",
    "linebreak-style": "off",
    "newline-after-import": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "es6": true
  }
}
