@media screen and (min-width:600px) and (max-width:1024px) {
	/* header {
		margin-bottom: 30px;
	} */
	body {
		background: #f5f5f5 url(../img/top-bg.png) 0 0 / auto 650px no-repeat;
	}
	header {
		height: 51px;
	}
	header nav.desktop-menu {
		display: none;
	}
	nav {
		flex-direction: row;
		justify-content: space-between;
	}
	nav .logo {
		padding: 0;
		width: 100%;
		height: 100%;
	}
	/* nav .logo > #logo-img {
		display: block;
		height: 21px;
		width: auto;
	}
	nav .logo > #logo-img path.st0 {
		fill: #ffffff;
	} */
	nav .logo svg {
		width: 120px;
		margin-top: 10px;
	}
	header nav.mobile-menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-right: 0;
		padding: 5px 30px;
	}
	.dropdown {
		width: 20px;
		height: 16px;
	}
	.dropdown .sandwich {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 16px;
		width: 20px;
		/* padding: 5px; */
	}

	main > section {
		margin: 0;
	}
	.section-h2 {
		font-weight: 500;
	}
	/* .dot {
		width: 7px;
		height: 7px;
	} */
	/* main .main-desc .desc-heading,
	main .main-desc .desc-subheading {
		font-size: 20px;
		font-weight: 400;
	}
	main .main-desc .desc-heading {
		margin-top: 13vw;
	} */
	/* main .desc-h2 {
		margin-bottom: 30px;
		font-weight: 500;
	} */
	/* main .main-desc {
		flex: 1 1 auto;
		justify-content: flex-start;
	} */
	main {
		margin: 90px auto 0;
	}
	.main-desc .info {
		margin-right: 0;
	}
	main .main-desc .buttons {
		display: flex;
		align-items: center;
		width: 550px;
		flex-flow: row wrap;
		justify-content: center;
		margin-bottom: 10px;
	}
	.main-desc .icons {
		margin-bottom: 25px;
		justify-content: space-between;
		width: 100%;
		height: 45px;
	}
	.main-desc .icons > a {
		width: 45px;
		height: 45px;
	}
	.info .youtube-video {
		margin-top: 25px;
	}
	.main-desc .info .heading {
		text-align: center;
	}
	.main-desc .info .buttons {
		height: 100%;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}
	.info .buttons .subheading {
		flex: 0 1 560px;
		margin-bottom: 15px;
		text-align: center;
	}
	.ani-btn {
		margin-right: 30px;
	}
	.btn {
		margin-bottom: 15px;
		font-weight: 500;
	}
	/* main .counter-box {
		width: 630px;
		height: 460px;
		padding: 35px 0 0;
		margin-bottom: 50px;
	}
	main .counter-box h2 {
		font: 400 24px 'Montserrat', sans-serif;
		margin-bottom: 0;
	}
	main .counter-box .counter {
		margin-bottom: 0;
	}
	main .counter-box .counter .counter-divider {
		margin: 5px 10px;
		font-size: 60px;
	}
	.counter-col h2 {
		font-size: 80px;
		text-align: center;
		margin-top: 0;
	}
	.counter-col h2 span {
		font-size: 60px;
		margin: 10px;
	}
	.counter-col h2 .seconds {
		width: 100px;
		display: block;
		margin-bottom: 0;
	}
	.counter-col h3 {
		font-size: 14px;
		font-weight: 400;
	}
	
	main .counter-box .subscribe {
		width: 100%;
		height: 140px;
		position: initial;
		align-items: center;
		padding: 22px 30px 30px;
	}
	main .counter-box .subscribe h2 {
		font: 300 20px Montserrat, sans-serif;
		margin-bottom: 17px;
	}
	main .counter-box .subscribe form input {
		border-top-right-radius: 0;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 0;
	}
	main .counter-box .subscribe form button {
		width: 170px;
		font-weight: 500;
		border-top-right-radius: 5px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 5px;
	} */
	.progress .raised-container {
		margin-bottom: 0;
	}
	.progress .raised-container .raised-sum h3 {
		font-size: 20px;
	}
	.progress .raised-container .raised-col {
		flex: 1 1 auto;
		justify-content: center;
		align-items: center;
		width: 25%;
	}
	.col.desc-col:last-child {
		padding-left: 30px;
	}
	.bubbles-divider {
		width: 100%;
		height: 240px;
		box-sizing: border-box;
		margin-bottom: 65px;
	}
	.bubbles-text {
		justify-content: space-between;
	}
	.bubble-1 {
		width: 60px;
		height: 60px;
		background: #6aaea9;
		top: 18px;
		left: 50px;
	}
	.bubble-2 {
		display: none;
	}
	.bubble-3 {
		background: #6aaea9;
		width: 102px;
		height: 102px;
		top: 30px;
		left: -30px;
	}
	.bubble-4 {
		background: #88cdc8;
		/* color: rgb(158, 204, 199); */
		top: 10px;
		filter: blur(3px);
		width: 168px;
		height: 168px;
	}
	.bubble-5 {
		top: -60px;
		width: 49px;
		height: 49px;
		right: 50px;
	}
	.bubble-6 {
		top: 60px;
		left: -90px;
		filter: blur(2px);
		width: 130px;
		height: 130px;
	}
	.bubble-7 {
		top: -220px;
		left: -10px;
		width: 160px;
		height: 160px;
	}
	.bubbles-left, .bubbles-right {
		flex-basis: auto;
		position: relative;
		top: -90px;
		width: 10%;
	}
	.bubbles-right {
		left: 0;
		top: 0;
	}
	.bubbles-text {
		flex-basis: 70%;
	}
	.bubbles-divider-h2, .bubbles-text h2 {
		font-size: 25px;
		line-height: 1.6;
		margin-bottom: 25px;
		font-weight: 500;
	}
	.spider-features > .feature-divider {
		display: none;
	}
	.col-features {
		width: 50%;
  		margin: 0 10px;
	}
	.feature {
		margin-bottom: 40px;
	}
	.feature-divider {
		display: block;
		height: 2px;
		width: 100%;
		background: #ffffff;
		position: relative;
		top: -25px;
		z-index: 100;
		opacity: 0.9;
	}
	.previews {
		background: no-repeat 50%/100%url(../img/phone-hor.png);
		width: 350px;
		height: 170px;
		padding: 30px 50px;
		box-sizing: border-box;
		margin: 0 auto 60px;
	}
	.previews h2 {
		font-size: 18px;
		color: #ffffff;
	}
	.tokens-emitted {
		padding: 30px 30px;
		height: 600px;
	}
	.tokens-emitted h2 {
		font: 400 35px 'Fira Sans', sans-serif;
		margin-bottom: 30px;
	}
	.tokens-col {
		justify-content: flex-start;
	}
	.tokens-col h2 {
		font: 400 30px 'Montserrat', sans-serif;
		margin: 50px 0 10px;
	}
	.tokens-col > p {
		font-weight: 300;
	}
	.circles {
		align-items: center;
	}
	.circle {
		margin-bottom: -33px;
		z-index: 39;
	}
	.circle-blue {
		z-index: 38;
	}
	.pre-ico {
		position: relative;
		width: 80%;
		height: 100%;
		box-sizing: border-box;
		/* background: #fff; */
		/* box-shadow: 0 0 14px 0 rgba(41, 70, 112, .25); */
		/* border-radius: 10px; */
		/* padding: 50px 70px; */
		display: flex;
		margin: 0 auto 90px;
		flex-direction: column;
		border-radius: 10px;
	}
	.pre-ico-cols {
		flex-direction: column;
	}
	.pre-ico-col-1 {
		width: 100%;
		margin-top: -150px;
		order: 2;
	}
	.pre-ico-col-1 h2 {
		font-size: 30px;
		margin-top: 20px;
	}
	.pre-ico-col-1 h3 {
		margin: 6px 0;
		line-height: 1.5;
		font-weight: 400;
	}
	/* .pre-ico-col-1 h3:nth-child(3) {
		margin-bottom: 30px;
	} */
	.pre-ico-col-1 p {
		margin-bottom: 13px;
	}
	.pre-ico-col-2 {
		position: relative;
		width: 500px;
		height: 500px;
		top: -200px;
		right: 0;
		order: 1;
	}
	.pre-ico-col-2 h2 {
		margin: -25px 0 10px;
	}
	.pre-ico-col-2 > ul > li {
		font-weight: 300;
	}
	.pre-ico-col-2 .bubbles {
		border-radius: 50%;
	}
	.pre-ico-col-2 > .bubbles.bubble-1 {
		top: 75px;
		left: -10px;
		background: #7dc4bf;
		filter: none;
	}
	.pre-ico-col-2 > .bubbles.bubble-2 {
		display: block;
		left: 360px;
		top: 160px;
		width: 200px;
		height: 210px;
	}
	.pre-ico-col-2 > .bubbles.bubble-3 {
		top: 30px;
		left: 390px;
		width: 95px;
		height: 95px;
	}
	/* .roadmap-slider {
		width: 100%;
		margin-bottom: 90px;
	}
	.roadmap.slider .frame {
		height: 190px;
	}
	.roadmap.slider .slides {
		display: inline-block;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
	.roadmap-slider .slide-prev,
	.roadmap-slider .slide-next {
		top: 20%;
	}
	.roadmap-slider .slick-list {
		margin: 0 auto;
		width: 70%;
	}
	.roadmap-slider .slick-prev {
		left: 40px;
	}
	.roadmap-slider .slick-next {
		right: 40px;
	}
	.roadmap.slider .slides .wrap-slide {
		width: 600px;
		margin: 0 auto;
	}
	.roadmap-slider .slick-dots { 
		margin: 0 5vw;
    	width: 90vw;
	}
	.roadmap-slider .slick-dots li button {
		margin-right: 0;
	} */
/* 
	.articles .dots {
		margin-bottom: 60px;
	} */
	.partners,
	.partners-mobile {
		display: none;
	}
	.partners-tablet {
		display: block;
		/* flex-flow: column nowrap; */
		margin: 0 auto 100px;
		width: 90vw;
		/* height: 250px; */
	}
	.partners-tablet .logo-row	{
		display: flex;
		/* height: 70px; */
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;
		margin-bottom: 10px;
		flex: 1 1 auto;
		/* padding: 10px; */
	}
	.partners-tablet .logo-row > * {
		padding: 0 10px;
	}
	.partners-tablet .logo-col {
		flex-flow: column nowrap;
		justify-content: space-between;
		width: 200px;
		display: flex;
		height: auto;
		margin-right: 10px;
		align-items: center;
	}
	.comsa-logo {
		width: 164px;
		/* height: 100%; */
		background: url(../img/partners/comsa-logo-gray.png) top/164px auto no-repeat;
	}
	.comsa-logo:hover {
		background: url(../img/partners/comsa-logo-hover.png) top/164px auto no-repeat;
	}
	.icoalert-logo {
		width: 197px;
		/* height: 100%; */
		background: url(../img/partners/icoalert-logo-gray.png) top center / 197px auto no-repeat;
	}
	.icoalert-logo:hover {
		background: url(../img/partners/icoalert-logo-hover.png) top center / 197px auto no-repeat;
	}
	.icostats-logo {
		width: 148px;
		/* height: 100%; */
		background: url(../img/partners/icostats-logo-gray.png) top center / 148px auto no-repeat;
	}
	.icostats-logo:hover {
		background: url(../img/partners/icostats-logo-hover.png) top center / 148px auto no-repeat;
	}
	.kickico-logo {
		width: 57px;
		/* height: 100%; */
		background: url(../img/partners/kickico-logo-gray.png) top center / 57px auto no-repeat;
	}
	.kickico-logo:hover {
		background: url(../img/partners/kickico-logo-hover.png) top center / 57px auto no-repeat;
	}
	.icorating-logo {
		width: 95px;
		height: 95px;
		background: url(../img/partners/icorating-logo-gray.png) top center / 95px auto no-repeat;
	}
	.icorating-logo:hover {
		background: url(../img/partners/icorating-logo-hover.png) top center / 95px auto no-repeat;
	}
	.tokenmarket-logo {
		width: 188px;
		height: 25px;
		background: url(../img/partners/tokenmarket-logo-gray.png) top center / 188px auto no-repeat;
		margin-bottom: 15px;
	}
	.tokenmarket-logo:hover {
		background: url(../img/partners/tokenmarket-logo-hover.png) top center / 188px auto no-repeat;
	}
	.cyberfund-logo {
		width: 154px;
		height: 47px;
		background: url(../img/partners/cyberfund-logo-gray.png) top center / 154px auto no-repeat;
	}
	.cyberfund-logo:hover {
		background: url(../img/partners/cyberfund-logo-hover.png) top center / 154px auto no-repeat;
	}
	.golos-logo {
		width: 162px;
		height: 55px;
		background: url(../img/partners/golos-logo-gray.png) top center / 162px auto no-repeat;
	}
	.golos-logo:hover {
		background: url(../img/partners/golos-logo-hover.png) top center / 162px auto no-repeat;
	}
	.icobazaar-logo {
		width: 74px;
		height: 101px;
		background: url(../img/partners/icobazaar-logo-gray.png) top center / auto 101px no-repeat;
	}
	.icobazaar-logo:hover {
		background: url(../img/partners/icobazaar-logo-hover.png) top center / auto 101px no-repeat;
	}
	.icowatch-logo {
		width: 97px;
		height: 60px;
		background: url(../img/partners/icowatchlist-logo-gray.png) top center / 97px auto no-repeat;
	}
	.icowatch-logo:hover {
		background: url(../img/partners/icowatchlist-logo-hover.png) top center / 97px auto no-repeat;
	}
	.icotracker-logo {
		width: 208px;
		height: 30px;
		background: url(../img/partners/icotracker-logo-gray.png) top center / 208px auto no-repeat;
	}
	.icotracker-logo:hover {
		background: url(../img/partners/icotracker-logo-hover.png) top center / 208px auto no-repeat;
	}
	.smithcrown-logo {
		width: 209px;
		height: 53px;
		background: url(../img/partners/smithcrown-logo-gray.png) top center / 209px auto no-repeat;
	}
	.smithcrown-logo:hover {
		background: url(../img/partners/smithcrown-logo-hover.png) top center / 209px auto no-repeat;
	}
	.coinschedule-logo {
		width: 210px;
		/* height: 100%; */
		background: url(../img/partners/coinschedule-logo-gray.png) center center / 210px auto no-repeat;
	}
	.coinschedule-logo:hover {
		background: url(../img/partners/coinschedule-logo-hover.png) center center / 210px auto no-repeat;
	}
	.our-team, .our-consults {
		margin: 0 auto;
	}

	/* Begin of Owl Carousel */
	.owl-stage {
	    padding: 0 30px;
	}
	/* End of Owl Carousel */
	main .bubbles-divider .icons {
		width: 100%;
	}
	main .bubbles-divider a > svg {
		width: 52px;
		height: 52px;
	}
	main .desc {
		padding: 0 30px 20px;
		margin: 0 auto 40px;
	}
	main .cards {
		padding: 0 30px;
	}
	main .our-team.cards .card {
		position: relative;
		width: 270px;
		height: 430px;
		margin-right: 30px;
	}
	main .our-team.cards {
		justify-content: space-between;
		flex-wrap: nowrap;
		margin: 0 auto 20px;
		width: 100%;
		padding: 0;
		height: 500px;
	}
	.team.card > .social-icons {
		bottom: 10px;
	}
	/* main .our-team > .dots {
		margin-bottom: 10px;
	} */
	#join-us {
		margin-bottom: 65px;
	}
	#footer-counter {
		width: 630px;
		flex: 0 0 100%;
	}
	footer {
		height: 100%;
		padding-bottom: 0;
		box-sizing: border-box;
		margin-top: 0;
		padding-top: 0;
	}
	footer h2 {
		font-weight: 500;
		font-size: 25px;
	}
	footer .subscribe {
		width: 85vw;
		margin: 0 auto;
		padding: 0;
		box-sizing: border-box;
		height: 370px;
	}
	footer .subscribe h3 {
		font: 300 20px 'Montserrat', sans-serif;
		letter-spacing: 1px;
	}
	footer .subscribe form {
		width: 85vw;
	}
	footer .subscribe form button {
		width: 170px;
		font-weight: 500;
	}
} 