@media screen and (min-width: 320px) and (max-width: 599px) {
  header {
    height: auto;
  }
  
  body {
    width: 100vw;
    background-size: auto 540px;
    background-position: top center;
  }
  header nav.desktop-menu {
    display: none;
  }
  header nav.mobile-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    height: 50px;
  }
  header .overlay-menu-item {
    font-size: 18px;
    max-width: 100vw;
  }
  header .side-button .col {
    display: none;
  }
  header .side-button.closed .col {
    display: flex;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    margin-top: 60px;
  }
  .btn,
  .section-h2,
  main .counter-box .subscribe form button,
  .cards-h2,
  .tokens-col h2,
  .pre-ico-col-1 h2,
  .pre-ico-col-1 h3,
  main .cards .card h2,
  footer h2 {
    font-weight: 500;
  }
  main .desc-h2 {
    font-weight: 500;
  }
  main .main-desc {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .main-desc .info {
    margin: 0;
    width: 100%;
    padding: 0;
    flex-basis: auto;
  }
  .main-desc .info .heading {
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
  }
  .main-desc .info .buttons {
    width: 100%;
    height: auto;
    flex-flow: column nowrap;
    align-items: center;
    flex-basis: auto;
    margin-bottom: 25px;
  }
  .main-desc .info .buttons .subheading {
    width: 90%;
    flex-basis: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .main-desc .info .buttons a {
    width: 280px;
    height: 45px;
    margin-bottom: 15px;
  }
  .main-desc .info .buttons a:last-of-type {
    margin-bottom: 0;
  }
  .ani-btn .btn-text:after {
    right: 53px;
  }
  .main-desc .counter-box {
    margin-top: 0;
    flex: 1 1 auto;
  }
  main .main-desc .icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    height: 35px;
    padding: 0 15px;
    margin-bottom: 22px;
    flex-basis: auto;
    /* margin-bottom: 23px; */
    /* flex: 1 1 35px; */
  }
  /* main .main-desc .buttons {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    flex: 1 1 160px;
  } */
  main .bubbles-divider .icons {
    width: 70%;
    padding: 0 25px;
    justify-content: space-around;
    margin: 0;
    flex-basis: auto;
    padding: 0;
    flex: 1 1 auto;
  }
  .info .icons>a {
    width: 31px;
    height: 31px;
  }
  .info .youtube-video {
    width: 100%;
    padding: 0 15px;
    max-width: 350px;
    margin-bottom: 28px;
  }
  main .bubbles-divider .bubbles-text > .btn {
    margin-bottom: 5px;
  }
  #footer-counter {
    margin-bottom: 0;
    flex-direction: column;
    flex: 1 1 100%;
    width: 100%;
  }
  footer .counter-box {
    margin-top: 0;
  }
  .counter-box {
    position: relative;
    width: 100vw;
    height: 428px;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 20px 15px 0;
    margin-bottom: 20px;
  }
  .counter-box > h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
  }
  .counter-box .counter-col > h2 {
    letter-spacing: unset;
    line-height: 1.5;
    margin-bottom: 0;
    margin: 0;
  }
  .counter-col > h2 span {
    font-size: 38px;
    margin: 0;
  }
  .counter-col h2 .seconds {
    width: 40px;
    margin-left: 0;
  }
  .counter-col h3 {
    font-size: 8px;
  }
  .counter-box .counter {
    height: 40px;
    margin-bottom: 30px;
  }
  .counter-box .counter .counter-divider {
    font-size: 38px;
    margin: 10px 6% 0;
  }
  main .icons {
    width: 100vw;
    /* height: 100%; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  main .icons > a {
    width: 35px;
    height: 35px;
    margin: 0;
  }
  main > .progress-container {
    display: none;
  }
  .progress {
    width: 100%;
  }
  .progress .progress-container {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    position: relative;
    height: 100px;
  }
  .progress-container .number, .progress-container .title {
    color: #000000;
    font-size: 12px;
  }
  .progress-container .largest-proTech, .progress-container .reached-bar {
    width: 34%;
    text-align: left;
    position: absolute;
    top: 60px;
  }
  .progress-container .largest-proTech .number, .progress-container .reached-bar .number {
    font-size: 12px;
  }
  .progress-container .largest-proTech {
    left: 230px;
    position: absolute;
    top: 37px;
  }
  .progress .bonuses-progress-bar {
    margin: 20px 0;
  }
  .progress .raised-container {
    padding: 8px 0;
    margin: 0 0 30px;
  }
  .progress .raised-container .raised-col {
    padding: 0 10px;
  }
  .progress .raised-container .raised-col:first-of-type {
    padding: 0 10px 0 0;
  }
  .progress .raised-container .raised-col:last-of-type {
    padding: 0 0 0 10px;
  }
  .progress .raised-container .raised-sum h3 {
    font-size: 14px;
  }
  .progress .raised-container .raised-sum p {
    font-size: 12px;
  }
  main .bubbles-divider .icons > a,
  main .bubbles-divider a > svg {
    width: 35px;
    height: 35px;
    margin: 5px;
  }
  main .bubbles-divider a > svg {
    margin: 0;
  }
  /* main .counter-box .subscribe {
    display: none;
  } */
  main .counter-box .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 150px;
    padding: 10px 15px;
    top: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #88cdc8;
  }
  main .counter-box .subscribe h2 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #fff;
    padding: 0 30px;
    line-height: 1;
  }
  main .counter-box .subscribe form {
    flex-direction: column;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
  }
  /* main .counter-box .subscribe form input {
    display: none;
  } */
  main .counter-box .subscribe form button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 0;
    text-align: center;
    width: 130px;
  }
  .counter-box .subscribe form input {
    padding: 5px 8px;
    height: 40px;
  }
  /* .counter-box .subscribe form input[type="email"]::placeholder,
  .counter-box .subscribe form input[type="email"]::-webkit-input-placeholder,
  .counter-box .subscribe form input[type="email"]::-moz-placeholder,
  .counter-box .subscribe form input[type="email"]:-ms-input-placeholder,
  .counter-box .subscribe form input[type="email"]:-moz-placeholder {
    font-size: 12px;
  } */
  main .counter-box .subscribe form button span {
    margin: auto;
  }
  .subscribe form .form-group {
    height: 40px;
  }
  .subscribe form input {
    height: 40px;
    box-sizing: border-box;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 6px 12px;
  }
  .subscribe .form-section.horizontal.ml-button-position {
    flex: 2;
    height: 40px;
  }
  .subscribe form button {
    text-align: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 40px;
  }
  .subscribe-form.ml-block-success p {
    font: 500 14px 'Montserrat',sans-serif;
    text-align: center;
    color: #fff;
  }
  .loading {
    padding: 0;
    border: none;
    background: none;
  }
  nav .logo {
    width: auto;
    height: 100%;
    padding: 0;
    /* margin-right: auto; */
    /* padding-left: 20px; */
  }
  nav .logo svg {
    display: block;
    height: 33px;
    margin: 0;
    padding: 0;
    width: auto;
    margin-top: 7px;
  }
  nav .logo.logo-scrolled {
    width: auto;
  }
  /* nav .lang-switch {
		margin: 0;
  } */
  nav .logo.logo-scrolled svg {
    width: auto;
  }
  .dropdown {
    margin-right: 10px;
    margin-left: auto;
  }
  main .desc {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 650px;
    padding: 20px;
    margin-bottom: 15px;
    display: -webkit-box;
  }
  main .desc-columns {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    /* flex: 1; */
    /* flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 400px; */
  }
  main .desc-columns .desc-col {
    /* position: relative; */
    display: flex;
    /* flex: 1 1 300px; */
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: -webkit-box;
  }
  main .desc-columns .desc-col p {
    /* position: relative; */
    display: flex;
    /* flex-direction: column; */
    /* flex: 1 0 150px; */
    /* flex: 1; */
    /* flex-basis: 150px; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    /* width: 100%; */
    margin: 0;
    padding: 0;
    display: -webkit-box;
  }
  main .desc-h2 {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: 50px;
    font-size: 25px;
    margin-bottom: 20px;
    display: -webkit-box;
    justify-content: flex-start;
  }
  .bubbles-divider {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* height: 230px;
    flex-basis: 230px; */
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px;
    margin-bottom: 50px;
    position: relative;
  }
  .bubbles-divider#first-world {
    height: auto;
    margin-bottom: 30px;
    padding: 15px;
  }
  .bubbles-left,
  .bubbles-right {
    display: none;
  }
  .bubbles-text {
    /* padding: 10px 20px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
  }
  .bubbles-text h2 {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 15px;
  }
  main .cards {
    padding: 0;
    margin: 20px;
    width: calc(100vw - 40px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  main .cards .card h3 {
    margin-bottom: 5px;
  }
  main .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* flex: 1; */
    width: 330px;
    margin-bottom: 30px;
    height: auto;
    padding: 30px 20px;
    flex-basis: auto;
  }
  /* main .desc-columns p.text-bold {
		font-weight: 400;
	} */
  .spider-features {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px 15px 0 !important;
    flex: 1;
  }
  .col-features {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    flex-basis: auto;
    width: 100%;
  }
  .feature {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
  }
  .feature .feature-icon {
    width: 70px;
    height: 80px;
    display: flex;
    flex: 1;
  }
  .feature p {
    flex: 3;
  }
  .feature-divider {
    display: block;
    height: 2px;
    width: 100%;
    background: #ffffff;
    position: relative;
    top: -25px;
    z-index: 100;
    opacity: 0.9;
    margin: 25px 0 0;
  }
  .feature-icon img {
    padding-top: 5px;
  }
  .previews {
    background: no-repeat 50%/110% url("../img/phone-hor.png");
    width: 320px;
    height: 160px;
    padding: 20px 50px;
    box-sizing: border-box;
    margin-bottom: 50px;
  }
  .previews h2 {
    font-size: 18px;
    color: #fff;
  }
  .tokens-emitted {
    flex-flow: column nowrap;
    padding: 20px 20px 35px;
    height: auto;
  }
  .tokens-emitted h2 {
    font: 400 30px "Fira Sans", sans-serif;
    margin-bottom: 25px;
  }
  .tokens-cols {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .tokens-col {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: auto;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .tokens-col h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .tokens-col > p {
    font: 300 16px "Fira Sans", sans-serif;
  }
  .tokens-col > .circles {
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 auto;
    height: 100px;
    margin-bottom: 50px;
  }
  .tokens-col > .circles > .circle {
    width: 150px;
    height: 31px;
    border-width: 2px;
    display: block;
  }

  /*  Pre-ICO section */
  .pre-ico {
    margin-top: 0;
    width: 100%;
    /* height: 100%; */
    padding: 0 20px 45px;
    border-radius: 0;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .pre-ico-cols {
    display: flex;
    flex-direction: column;
    order: 1;
    margin-bottom: 25px;
  }
  .pre-ico-col-1 {
    width: 100%;
    display: flex;
    order: 2;
    margin-bottom: 25px;
  }
  .pre-ico-col-2 {
    width: 328px;
    height: 328px;
    background-size: 328px 328px;
    display: flex;
    order: 1;
    position: relative;
    margin-top: -80px;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 40px;
  }
  .pre-ico-col-2 h2 {
    font: 400 30px 'Fira Sans', sans-serif;
    margin-bottom: 0;
  }
  .pre-ico-col-2 ul {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15% 0 20%;
  }
  .pre-ico-col-2 ul li {
    margin-bottom: 0;
  }
  .pre-ico-col-2 ul li h3 {
    font: 400 14px 'Fira Sans', sans-serif;
  }
  .pre-ico-col-2 ul li p {
    font: 300 14px 'Fira Sans', sans-serif;
  }
  .pre-ico-col-1 h2 {
    font-size: 25px;
  }
  .pre-ico-col-1 h3 {
    font-size: 18px;
    font-weight: 400;
  }
  .pre-ico-col-1 p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .pre-ico-col-2 > .bubbles.bubble-1 {
    top: 5px;
    left: 247px;
    width: 50px;
    height: 50px;
    background: #9eccc7;
  }
  .pre-ico-col-2 > .bubbles.bubble-2 {
    left: 250px;
    top: 130px;
    width: 130px;
    height: 130px;
  }
  .pre-ico-col-2 > .bubbles.bubble-3 {
    top: 270px;
    left: 220px;
    width: 80px;
    height: 80px;
  }

  .pre-ico .bottom-heading {
    font: 400 20px 'Fira Sans', sans-serif;
    margin: 0;
    order: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
  }

  /* End of Pre-ICO section */

  /* Begin of Roadmap section */
  #roadmap {
    padding: 0 15px 60px;
    flex: 1 1 2150px;
  }
  .roadmap-point {
    flex: 1 1 130px;
  }
  .roadmap-icon {
    width: 80px;
    height: 80px;
  }
  .roadmap-icon img {
    max-width: 50px;
    max-height: 50px;
  }

  /* End of Roadmap section */
  
  .section-h2 {
    font-size: 25px;
    /* margin-bottom: 0; */
  }
  #our-team-h2,
  #our-consults-h2 {
    margin-bottom: 0;
  }
  /* #our-team-h2 {
    margin-top: 40px;
  } */
  .our-team {
    margin-bottom: 30px;
  }
  main .our-team.cards {
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto 20px;
    width: 100%;
    padding: 0;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  main .our-team.cards .card {
    width: 270px;
    height: 430px;
    margin-right: 30px;
    position: relative;
  }
  main .our-team .cards .team.card {
    margin-top: 70px;
    margin-bottom: 30px;
  }
  .team.card > .social-icons {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .team.card > .photo > img {
    width: 127px;
    height: 127px;
    top: -80px;
    left: 5px;
  }
  .team.card > .cards-text {
    line-height: 1.9;
    padding: 5px 15px 10px;
  }
  .owl-dots {
    max-width: 95vw;
    margin: 0 15px;
  }
  .partners,
  .partners-tablet {
    display: none;
  }
  #partners-h2 {
    margin-bottom: 20px;
  }
  .partners-mobile {
    display: block;
    margin-bottom: 30px;
    width: 90vw;
    height: 340px;
  }
  .partners-mobile .logo-row {
    display: flex;
    height: 50px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    flex: 1 1 auto;
  }
  .partners-mobile .logo-row > * {
    margin: 0 auto 10px;
  }
  .partners-mobile .logo-col {
    /* height: 47px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .partners-mobile .logo-col > * {
    margin: 0 auto 5px;
  }
  .comsa-logo {
    width: 114px;
    height: 29px;
    background: url(../img/partners/comsa-logo-gray.png) top/114px auto
      no-repeat;
  }
  .comsa-logo:hover {
    background: url(../img/partners/comsa-logo-hover.png) top/114px auto
      no-repeat;
  }
  .kickico-logo {
    width: 40px;
    height: 40px;
    background: url(../img/partners/kickico-logo-gray.png) top/40px auto
      no-repeat;
  }
  .kickico-logo:hover {
    background: url(../img/partners/kickico-logo-hover.png) top/40px auto
      no-repeat;
  }
  .icoalert-logo {
    width: 129px;
    height: 19px;
    background: url("../img/partners/icoalert-logo-gray.png") top center / 129px
      auto no-repeat;
  }
  .icoalert-logo:hover {
    background: url("../img/partners/icoalert-logo-hover.png") top center /
      129px auto no-repeat;
  }
  .icorating-logo {
    width: 59px;
    height: 57px;
    background: url("../img/partners/icorating-logo-gray.png") top center / 59px
      auto no-repeat;
  }
  .icorating-logo:hover {
    background: url("../img/partners/icorating-logo-hover.png") top center /
      59px auto no-repeat;
  }
  .tokenmarket-logo {
    width: 131px;
    height: 17px;
    background: url("../img/partners/tokenmarket-logo-gray.png") top center /
      131px auto no-repeat;
  }
  .tokenmarket-logo:hover {
    background: url("../img/partners/tokenmarket-logo-hover.png") top center /
      131px auto no-repeat;
  }
  .cyberfund-logo {
    width: 107px;
    height: 26px;
    background: url("../img/partners/cyberfund-logo-gray.png") top center /
      107px auto no-repeat;
  }
  .cyberfund-logo:hover {
    background: url("../img/partners/cyberfund-logo-hover.png") top center /
      107px auto no-repeat;
  }
  .golos-logo {
    width: 113px;
    height: 38px;
    background: url(../img/partners/golos-logo-gray.png) top center / 113px auto
      no-repeat;
  }
  .golos-logo:hover {
    background: url(../img/partners/golos-logo-hover.png) top center / 113px
      auto no-repeat;
  }
  .icotracker-logo {
    width: 122px;
    height: 18px;
    background: url(../img/partners/icotracker-logo-gray.png) top center / 122px
      auto no-repeat;
  }
  .icotracker-logo:hover {
    background: url(../img/partners/icotracker-logo-hover.png) top center /
      122px auto no-repeat;
  }
  .icowatch-logo {
    width: 69px;
    height: 42px;
    background: url(../img/partners/icowatchlist-logo-gray.png) top center /
      69px auto no-repeat;
    margin-right: 15px;
  }
  .icowatch-logo:hover {
    background: url(../img/partners/icowatchlist-logo-hover.png) top center /
      69px auto no-repeat;
  }
  .smithcrown-logo {
    width: 146px;
    height: 36px;
    background: url(../img/partners/smithcrown-logo-gray.png) top center / 146px
      auto no-repeat;
  }
  .smithcrown-logo:hover {
    background: url(../img/partners/smithcrown-logo-hover.png) top center /
      146px auto no-repeat;
  }
  .coinschedule-logo {
    width: 159px;
    height: 24px;
    background: url(../img/partners/coinschedule-logo-gray.png) top center /
      149px auto no-repeat;
    margin-right: 10px;
  }
  .coinschedule-logo:hover {
    background: url(../img/partners/coinschedule-logo-hover.png) top center /
      149px auto no-repeat;
  }
  .icostats-logo {
    width: 104px;
    height: 37px;
    background: url(../img/partners/icostats-logo-gray.png) top center / 104px
      auto no-repeat;
  }
  .icostats-logo:hover {
    background: url(../img/partners/icostats-logo-hover.png) top center / 104px
      auto no-repeat;
  }
  .icobazaar-logo {
    width: 49px;
    height: 80px;
    background: url(../img/partners/icobazaar-logo-gray.png) top center / 49px
      auto no-repeat;
  }
  .icobazaar-logo:hover {
    background: url(../img/partners/icobazaar-logo-hover.png) top center / 49px
      auto no-repeat;
  }
  .smartfactor-logo {
    width: 75px;
    height: 39px;
    background: url(../img/partners/smartfactor-logo-gray.png) top center / 75px auto no-repeat;
  }
  .smartfactor-logo:hover {
    background: url(../img/partners/smartfactor-logo-hover.png) top center / 75px auto no-repeat;
  }
  .vipole-logo {
    width: 123px;
    height: 39px;
    background: url(../img/partners/vipole-logo-gray.png) top center / 123px auto no-repeat;
  }
  .vipole-logo:hover {
    background: url(../img/partners/vipole-logo-hover.png) top center / 123px auto no-repeat;
  }
  #join-us {
    height: auto;
    padding: 20px;
    margin-bottom: 50px;
  }
  footer {
    height: 100%;
    margin-top: 0;
    padding: 10px 0;
  }
  footer #footer-desktop {
    display: none;
  }
  footer #footer-mobile {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: auto;
  }
  footer #footer-mobile .logo-footer {
    margin: 25px auto;
  }
  footer #footer-mobile h2 {
    font: 500 20px 'Montserrat', sans-serif;
    line-height: 1.3;
    padding: 0;
    margin-bottom: 10px;
  }
  #footer-mobile .counter-box {
    flex-basis: auto;
    flex: 1;
    height: auto;
  }
  footer #footer-mobile .counter-box h2 {
    font: 300 18px 'Montserrat', sans-serif;
    padding-left: 0;
    padding-bottom: 0;
    flex-basis: auto;
  }
  footer #footer-mobile .counter-box .counter {
    display: flex;
    flex-direction: row;
    height: auto;
    flex: 1;
    flex-basis: auto;
  }
  #footer-mobile .counter-box .counter .counter-divider {
    margin: 5px 7px;
    flex-basis: auto;
  }
  .counter-col h2 .seconds {
    width: 35px;
    padding-left: 0;
  }
  .mobile-subscribe {
    display: none;
  }
  footer .progress .progress-container {
    margin-bottom: 0;
  }
  #footer-mobile .progress-container .largest-proTech,
  #footer-mobile .progress-container .reached-bar {
    top: 40px;
  }
  footer .raised-container {
    width: 100%;
    padding: 5px;
    flex-basis: auto;
    height: auto;
    margin-bottom: 20px;
  }
  footer .raised-container .raised-sum h3 {
    font: 300 14px 'Fira Sans', sans-serif;
  }
  footer .raised-container .raised-col {
    padding-right: 10px;
    padding-left: 10px;
  }
  footer .raised-container .raised-col:not(:last-of-type) {
    padding-right: 10px;
    padding-left: 10px;
  }
  footer .buttons {
    flex: 0 1 180px;
    margin-bottom: 10px;
  }
  footer .mobile-subscribe {
    display: flex;
    flex-direction: column;
  }
  footer .mobile-subscribe h2 {
    font: 300 18px 'Montserrat', sans-serif;
    padding: 10px;
  }
  footer .subscribe {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
  }
  footer .subscribe form {
    height: 40px;
    width: 90%;
  }
  
  footer .subscribe h3 {
    font: 400 18px 'Montserrat', sans-serif;
    line-height: 1.6;
    text-align: center;
  }
  .subscribe form button {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subscribe form button span {
    margin: auto;
  }
  footer .gray-line {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  body {
    background-size: auto 590px;
  }
  /* nav .logo {
    margin-right: 24%;
  } */
  main .cards .card {
    width: 100%;
  }
  main .our-team.cards .team.card {
    margin-top: 100px;
    border-radius: 10px;
  }
  .progress-container .largest-proTech, .progress-container .reached-bar {
    width: 40%;
  }
  .counter-col h2 {
    font-size: 35px;
  }
  .counter-col h2 .seconds {
    width: 40px;
  }
  main .counter-box .counter .counter-divider {
    font-size: 30px;
  }
  .tokens-emitted {
    padding: 35px 5px;
  }
  .tokens-col {
    width: 145px;
  }
  .tokens-col > .circles > .circle {
    width: 145px;
  }
  .bubbles-divider {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    padding: 10px 20px;
  }
  .bubbles-text > .btn {
    margin-bottom: 0;
  }
  .partners-mobile {
    height: 430px;
  }
  .partners-mobile .logo-row {
    height: 42px;
  }
  .partners-mobile .logo-col {
    height: auto;
  }
  .partners-mobile .logo-row .icowatch-logo {
    margin-right: 15px;
  }
  .pre-ico-col-2 {
    left: -20px;
  }
  /* footer h2 {
    padding: 5px;
    font-weight: 400;
    margin-bottom: 10px;
  } */
  /* footer .subscribe form {
    flex-direction: column;
  } */
  /* footer .subscribe form input {
    border-radius: 5px;
    margin-bottom: 10px;
  } */
  /* footer .subscribe form button {
    border-radius: 5px;
    width: 100%;
  } */
}
