@media screen and (min-width: 320px) and (max-width: 599px) {
  header .side-button {
		width: 70px;
		height: 70px;
		border-radius: 70px;
		opacity: .6;
    top: 320px;
    padding: 0;
  }
  /* header .side-button:hover {
    opacity: 1;
    transition: opacity .2s;
  } */
	header .side-button .pig {
    width: 70px;
    cursor: pointer;
    padding: 0;
    margin: auto;
  }
  header .side-button .pig img {
    width: 50px;
    height: auto;
    margin: auto;
  }
	header .side-button .col {
		display: none;
	}
  body {
    width: 100vw;
    background-size: auto 520px;
    background-position: top center;
  }
  header nav.desktop-menu {
    display: none;
  }
  header nav.mobile-menu {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 30px;
  }
  header .overlay-menu-item {
    font-size: 18px;
  }
  nav .lang-switch {
    margin-right: 10px;
  }
  nav .lang-switch select {
    font-weight: 500;
  }
  nav .lang-switch:after {
    font-size: 11px;
    top: 50%;
  }
  main {
    margin-top: 65px;
  }
  .dot {
    width: 6px;
    height: 6px;
  }
  .btn,
  .section-h2,
  main .counter-box .subscribe form button,
  .cards-h2,
  main .desc-col h2,
  .tokens-col h2,
  .pre-ico .bold,
  .pre-ico-col-1 h2,
  .pre-ico-col-1 h3,
  .articles .article h2,
  main .cards .card h2,
  footer h2 {
    font-weight: 500;
  }
  
  main .desc-col h2 {
    font-size: 18px;
  }
  main .desc .desc-col ul > li {
    padding-left: 15px;
  }
  main .desc .desc-col ul > li::before {
    left: -15px;
    margin-right: -10px;
  }
  #about-us-h2 {
    margin-bottom: 10px;
  }
  main .desc-h2 {
    font-weight: 500;
  }
  main .main-desc {
    width: 100vw;
  }
  main .main-desc .logo-main {
    display: none;
  }
  main .main-desc .desc-heading,
  main .main-desc .desc-subheading {
    width: 90%;
    font-size: 18px;
    margin: 0;
  }
  main .main-desc .desc-subheading {
    margin: 0 0 30px;
  }
  main .main-desc .desc-text {
    width: 100vw;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
    padding: 0 20px;
    box-sizing: border-box;
    line-height: 1.4;
  }
  main .main-desc .icons {
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 90%;
    height: auto;
    padding: 0;
    margin-bottom: 30px;
  }
  main .bubbles-divider .icons {
    width: 100%;
    padding: 0 25px;
    justify-content: space-evenly;
    margin: 0;
  }
  main .bubbles-divider .bubbles-text > .btn {
    margin-bottom: 5px;
  }

  main .opportunities-desc .text-bold {
    font-weight: 400;
  }
  .buttons {
    flex-flow: column nowrap;
  }
  #footer-counter {
    margin-bottom: 0;
  }
  #footer-counter .buttons {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #footer-counter > .icons {
    display: none;
  }
  .counter-box {
    width: 100vw;
    height: auto;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 20px 15px 0;
    margin-bottom: 20px;
  }
  .counter-box > h2 {
    font-size: 18px;
    text-align: center;
  }
  .counter-box .counter-col > h2 {
    letter-spacing: unset;
    line-height: 1.5;
    margin-bottom: 0;
    margin: 0;
  }
  .counter-col > h2 span {
    font-size: 38px;
    margin: 0;
  }
  .counter-col h2 .seconds {
    width: 40px;
    margin-left: 0;
  }
  .counter-col h3 {
    font-size: 8px;
  }
  .counter-box .counter {
    margin-bottom: 20px;
  }
  .counter-box .counter .counter-divider {
    font-size: 38px;
    margin: 10px 6% 0;
  }
  main .icons {
    width: 100vw;
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  main .icons > a {
    width: 35px;
    height: 35px;
    margin: 0;
  }
  .progress {
    width: 100%;
  }
  .progress .bonuses-progress-bar {
    margin: 20px 0;
  }
  .progress .soft-cap {
    margin-left: 0;
    left: 0;
  }
  .progress .raised-container {
    padding: 10px 0;
    margin: 0 0 30px;
  }
  .progress .raised-container .raised-col {
    padding: 0 10px;
  }
  .progress .raised-container .raised-col:first-of-type {
    padding: 0 10px 0 0;
  }
  .progress .raised-container .raised-col:last-of-type {
    padding: 0 0 0 10px;
  }
  .progress .raised-container .raised-sum h3 {
    font-size: 14px;
  }
  .progress .raised-container .raised-sum p {
    font-size: 12px;
  }
  main .bubbles-divider .icons > a,
  main .bubbles-divider a > svg {
    width: 45px;
    height: 45px;
    margin: 10px;
  }
  main .bubbles-divider a > svg {
    margin: 0;
  }
  main .counter-box .subscribe {
    width: 100vw;
    height: auto;
    padding: 10px;
    top: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    align-items: center;
  }
  main .counter-box .subscribe h2 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
  }
  main .counter-box .subscribe form {
    flex-direction: column;
    width: 250px;
    margin-bottom: 10px;
  }
  main .counter-box .subscribe form input {
    display: none;
  }
  main .counter-box .subscribe form button {
    border-radius: 5px;
  }
  nav .logo {
    width: 118px;
    height: 21px;
    padding: 0;
    margin-right: auto;
    /* padding-left: 20px; */
  }
  nav .logo svg {
    display: block;
    /* width: 118px; */
    height: 21px;
  }
  nav .logo svg path.st0 {
    fill: #ffffff;
  }
  /* nav .lang-switch {
		margin: 0;
  } */
  .dropdown {
    margin-right: 10px;
  }
  main .logo-main {
    margin-top: 20px;
  }

  main .logo-main img {
    width: 70vw;
    height: auto;
  }
  main .desc {
    padding: 20px;
    margin-bottom: 15px;
  }
  main .desc-columns {
    flex-direction: column;
  }
  main .desc-h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  main .desc-text {
    width: 80vw;
    font-size: 1.3em;
    hyphens: auto;
  }
  .video {
    border: none;
  }
  .video iframe {
    width: 90vw;
    height: 50vw;
  }
  .bubbles-divider {
    display: block;
    box-sizing: border-box;
    height: 230px;
    padding: 30px 30px;
    margin-bottom: 50px;
  }
  .bubbles-divider#first-world {
    height: auto;
    margin-bottom: 30px;
    padding: 15px;
  }
  .bubbles-left,
  .bubbles-right {
    display: none;
  }
  .bubbles-text {
    /* padding: 10px 20px; */
    margin: 0 auto;
  }
  .bubbles-text h2 {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .bubbles-text p {
    font-size: 1em;
  }
  main .cards {
    padding: 0;
    margin-bottom: 20px;
  }
  main .cards .card h3 {
    margin-bottom: 5px;
  }
  main .cards .card {
    width: 330px;
    margin-bottom: 30px;
    height: auto;
    padding: 30px 20px;
  }
  main .opportunities-desc {
    padding: 0 20px;
  }
  /* main .desc-columns p.text-bold {
		font-weight: 400;
	} */
  main .video {
    display: block;
    background: none;
    /* flex: 1 1 90%; */
    width: 90vw;
    height: 100%;
    margin: 0 auto 50px;
    box-shadow: rgba(41, 70, 112, 0.25) 0px 0px 14px 0px;
    padding: 0;
  }
  .spider-features {
    flex-direction: column;
    padding: 25px 15px 0 !important;
  }
  .feature-divider {
    display: block;
    height: 2px;
    width: 100%;
    background: #ffffff;
    position: relative;
    top: -25px;
    z-index: 100;
    opacity: 0.9;
  }
  .feature-icon img {
    padding-top: 5px;
  }
  .previews {
    background: no-repeat 50%/110% url("../img/phone-hor.png");
    width: 320px;
    height: 160px;
    padding: 20px 50px;
    box-sizing: border-box;
    margin-bottom: 50px;
  }
  .previews h2 {
    font-size: 18px;
    color: #fff;
  }
  .previews p {
    font-size: 16px;
    color: #fff;
  }
  .tokens-emitted {
    flex-flow: column nowrap;
    padding: 20px 20px 35px;
    height: auto;
  }
  .tokens-emitted h2 {
    font: 400 30px "Fira Sans", sans-serif;
    margin-bottom: 25px;
  }
  .tokens-cols {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .tokens-col {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: auto;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .tokens-col h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .tokens-col > p {
    font: 300 16px "Fira Sans", sans-serif;
  }
  .tokens-col > .circles {
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 auto;
    height: 100px;
    margin-bottom: 50px;
  }
  .tokens-col > .circles > .circle {
    width: 150px;
    height: 31px;
    border-width: 2px;
    display: block;
  }

  /*  Pre-ICO section */
  .pre-ico {
    margin-top: 0;
    width: 100%;
    height: 100%;
    padding: 0 20px 45px;
    border-radius: 0;
    margin-bottom: 50px;
    /* display: flex; */
    /* flex-direction: column-reverse; */
  }
  .pre-ico-cols {
    flex-direction: column;
  }
  .pre-ico-col-1 {
    width: 100%;
    order: 2;
    margin-bottom: 25px;
  }
  .pre-ico-col-2 {
    width: 328px;
    height: 328px;
    order: 1;
    position: relative;
    margin-top: -80px;
    right: 0;
    top: 0;
    margin-bottom: 40px;
  }
  .pre-ico-col-2 h2 {
    font: 400 30px 'Fira Sans', sans-serif;
    margin-bottom: 0;
  }
  .pre-ico-col-2 ul {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15% 0 20%;
  }
  .pre-ico-col-2 ul li {
    margin-bottom: 0;
  }
  .pre-ico-col-2 ul li h3 {
    font: 400 14px 'Fira Sans', sans-serif;
  }
  .pre-ico-col-2 ul li p {
    font: 300 14px 'Fira Sans', sans-serif;
  }
  .pre-ico-col-1 h2 {
    font-size: 25px;
  }
  .pre-ico-col-1 h3 {
    font-size: 18px;
    font-weight: 400;
  }
  .pre-ico-col-1 p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .pre-ico-col-2  ul li  .bold {
    font-weight: 400;
  }
  .pre-ico-col-2 > .bubbles.bubble-1 {
    top: 5px;
    left: 247px;
    width: 50px;
    height: 50px;
    background: #9eccc7;
  }
  .pre-ico-col-2 > .bubbles.bubble-2 {
    left: 250px;
    top: 130px;
    width: 130px;
    height: 130px;
  }
  .pre-ico-col-2 > .bubbles.bubble-3 {
    top: 270px;
    left: 220px;
    width: 80px;
    height: 80px;
  }

  .pre-ico .bottom-heading {
    font: 400 20px 'Fira Sans', sans-serif;
    margin: 0;
  }

  /* End of Pre-ICO section */

  /* Begin of Roadmap section */
  #roadmap {
    padding: 0 15px 60px;
  }
  .roadmap-icon {
    width: 80px;
    height: 80px;
  }

  /* End of Roadmap section */
  
  .section-h2 {
    font-size: 25px;
    /* margin-bottom: 0; */
  }
  .articles {
    width: 100%;
    margin-bottom: 50px;
  }
  .articles .article img {
    max-width: 90vw;
  }
  .articles.slider {
    margin-bottom: 70px;
  }
  .articles.slider .slick-list {
    width: 90%;
    margin: 0 auto;
  }
  .articles.slider .slides li {
    position: relative;
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    /* margin-left: 20px; */
    margin: 0 20px;
    padding: 0;
  }
  .articles.slider .slick-dots {
    display: flex;
    justify-content: center;
    bottom: -30px;
  }
  .articles.slider .slick-dots li,
  .our-team.cards .slick-dots li {
    width: 20px;
    margin: 0 10px 0 0;
    padding: 0;
    /* bottom: -30px; */
  }
  .articles.slider .slick-dots li:last-child,
  .our-team.cards .slick-dots li:last-child {
    margin-right: 0;
  }
  .articles.slider .slick-dots li button,
  .our-team.cards .slick-dots li button {
    width: 12px;
    height: 12px;
    border-width: 3px;
  }
  .articles.slider .slick-dots li button:active,
  .our-team.cards .slick-dots li button:active,
  .about-us.cards.slider .slick-dots li button:active,
  .videos.cards.slider .slick-dots li button:active,
  .articles.slider .slick-dots li button:focus,
  .our-team.cards .slick-dots li button:focus,
  .about-us.cards.slider .slick-dots li button:focus,
  .videos.cards.slider .slick-dots li button:focus {
    outline: none;
  }
  #our-team-h2,
  #our-consults-h2 {
    margin-bottom: 90px;
  }
  .our-team {
    margin-bottom: 30px;
  }
  main .our-team.cards {
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto 20px;
    width: 100%;
    padding: 0;
    height: 470px;
  }
  main .our-team.cards .card {
    width: 263px;
    height: 400px;
    margin-right: 30px;
  }
  main .our-team .slick-list {
    width: 90vw;
    margin: 0 auto;
  }
  main .our-team.cards .slick-track,
  main .videos.cards .slick-track {
    display: flex;
  }
  main .our-team.cards > .team.card {
    margin-right: 30px;
    margin-top: 110px;
  }
  .team.card > .social-icons {
    bottom: 10px;
  }
  .team-card > h2 {
    margin-bottom: 10px;
  }
  .team.card > .photo > img {
    width: 127px;
    height: 127px;
    top: -80px;
    left: 5px;
  }
  .team.card > .cards-text {
    line-height: 1.9;
  }
  .partners,
  .partners-tablet {
    display: none;
  }
  #partners-h2 {
    margin-bottom: 20px;
  }
  .partners-mobile {
    display: block;
    margin-bottom: 30px;
    width: 90vw;
    height: 220px;
  }
  .partners-mobile .logo-row {
    display: flex;
    height: 50px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    flex: 1 1 auto;
  }
  .partners-mobile .logo-row > * {
    margin: 0 auto 10px;
  }
  .partners-mobile .logo-col {
    /* height: 47px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .partners-mobile .logo-col > * {
    margin: 0 auto 5px;
  }
  #comsa-logo {
    width: 114px;
    height: 29px;
    background: url(../img/partners/comsa-logo-gray.png) top/114px auto
      no-repeat;
  }
  #comsa-logo:hover {
    background: url(../img/partners/comsa-logo-hover.png) top/114px auto
      no-repeat;
  }
  #kickico-logo {
    width: 40px;
    height: 40px;
    background: url(../img/partners/kickico-logo-gray.png) top/40px auto
      no-repeat;
  }
  #kickico-logo:hover {
    background: url(../img/partners/kickico-logo-hover.png) top/40px auto
      no-repeat;
  }
  #icoalert-logo {
    width: 129px;
    height: 19px;
    background: url("../img/partners/icoalert-logo-gray.png") top center / 129px
      auto no-repeat;
  }
  #icoalert-logo:hover {
    background: url("../img/partners/icoalert-logo-hover.png") top center /
      129px auto no-repeat;
  }
  #icorating-logo {
    width: 59px;
    height: 57px;
    background: url("../img/partners/icorating-logo-gray.png") top center / 59px
      auto no-repeat;
  }
  #icorating-logo:hover {
    background: url("../img/partners/icorating-logo-hover.png") top center /
      59px auto no-repeat;
  }
  #tokenmarket-logo {
    width: 131px;
    height: 17px;
    background: url("../img/partners/tokenmarket-logo-gray.png") top center /
      131px auto no-repeat;
  }
  #tokenmarket-logo:hover {
    background: url("../img/partners/tokenmarket-logo-hover.png") top center /
      131px auto no-repeat;
  }
  #cyberfund-logo {
    width: 107px;
    height: 26px;
    background: url("../img/partners/cyberfund-logo-gray.png") top center /
      107px auto no-repeat;
  }
  #cyberfund-logo:hover {
    background: url("../img/partners/cyberfund-logo-hover.png") top center /
      107px auto no-repeat;
  }
  #golos-logo {
    width: 113px;
    height: 38px;
    background: url(../img/partners/golos-logo-gray.png) top center / 113px auto
      no-repeat;
  }
  #golos-logo:hover {
    background: url(../img/partners/golos-logo-hover.png) top center / 113px
      auto no-repeat;
  }
  #icotracker-logo {
    width: 122px;
    height: 18px;
    background: url(../img/partners/icotracker-logo-gray.png) top center / 122px
      auto no-repeat;
  }
  #icotracker-logo:hover {
    background: url(../img/partners/icotracker-logo-hover.png) top center /
      122px auto no-repeat;
  }
  #icowatch-logo {
    width: 69px;
    height: 42px;
    background: url(../img/partners/icowatchlist-logo-gray.png) top center /
      69px auto no-repeat;
    margin-right: 15px;
  }
  #icowatch-logo:hover {
    background: url(../img/partners/icowatchlist-logo-hover.png) top center /
      69px auto no-repeat;
  }
  #smithcrown-logo {
    width: 146px;
    height: 36px;
    background: url(../img/partners/smithcrown-logo-gray.png) top center / 146px
      auto no-repeat;
  }
  #smithcrown-logo:hover {
    background: url(../img/partners/smithcrown-logo-hover.png) top center /
      146px auto no-repeat;
  }
  #coinschedule-logo {
    width: 159px;
    height: 24px;
    background: url(../img/partners/coinschedule-logo-gray.png) top center /
      149px auto no-repeat;
    margin-right: 10px;
  }
  #coinschedule-logo:hover {
    background: url(../img/partners/coinschedule-logo-hover.png) top center /
      149px auto no-repeat;
  }
  #icostats-logo {
    width: 104px;
    height: 37px;
    background: url(../img/partners/icostats-logo-gray.png) top center / 104px
      auto no-repeat;
  }
  #icostats-logo:hover {
    background: url(../img/partners/icostats-logo-hover.png) top center / 104px
      auto no-repeat;
  }
  #icobazaar-logo {
    width: 49px;
    height: 80px;
    background: url(../img/partners/icobazaar-logo-gray.png) top center / 49px
      auto no-repeat;
  }
  #icobazaar-logo:hover {
    background: url(../img/partners/icobazaar-logo-hover.png) top center / 49px
      auto no-repeat;
  }
  #join-us {
    height: 200px;
    padding: 20px;
    margin-bottom: 50px;
  }
  .join-us > icons {
    padding: 0 35px;
  }
  .join-us > icons > a {
    margin: 5px;
  }
  main .cards .card.press {
    box-sizing: content-box;
  }
  main .cards .card.press h2.press-h2 {
    font-weight: 400;
    margin-bottom: 0;
  }
  #videos-h2 {
    margin-bottom: 0;
  }
  .about-us.cards.slider,
  .videos.cards.slider {
    width: 100vw;
    margin-bottom: 60px;
  }
  .about-us.cards.slider .slick-dots,
  .videos.cards.slider .slick-dots {
    bottom: -40px;
  }
  .about-us.cards.slider .slick-dots li button,
  .videos.cards.slider .slick-dots li button {
    width: 12px;
    height: 12px;
    border-width: 3px;
  }
  .slides .slick-list {
    width: 83vw;
  }
  main .videos.cards .videocard {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 0;
  }
  main .videos.cards .videocard iframe {
    margin-bottom: 10px;
    width: 94vw;
    height: 53vw;
  }
  #mobile-footer-top {
    display: block;
    width: 100%;
    height: 100%;
    background: #294670;
    padding: 30px;
    box-sizing: border-box;
  }
  #mobile-footer-top .logo-footer {
    width: 272px;
    height: 92px;
    margin: 0 auto 30px;
  }
  #mobile-footer-top h2 {
    font: 400 20px "Montserrat", sans-serif;
    color: #ffffff;
    text-align: center;
  }
  footer {
    height: 100%;
    margin-top: 0;
    padding: 30px 60px;
  }
  footer .subscribe {
    display: none;
  }
  footer .mobile-subscribe {
    display: block;
  }
  footer .mobile-subscribe form h3 {
    color: #ffffff;
    font: 400 18px "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 15px;
  }
  footer .mobile-subscribe form button {
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  nav .logo {
    margin-right: 24%;
  }
  main .cards .card {
    width: 100%;
    border-radius: 0;
  }
  main .our-team.cards .team.card {
    margin-top: 100px;
    border-radius: 10px;
  }
  .counter-col h2 {
    font-size: 35px;
  }
  .counter-col h2 .seconds {
    width: 40px;
  }
  main .counter-box .counter .counter-divider {
    font-size: 30px;
  }
  .tokens-emitted {
    padding: 35px 5px;
  }
  .tokens-col {
    width: 145px;
  }
  .tokens-col > .circles > .circle {
    width: 145px;
  }
  .bubbles-divider {
    height: 100%;
    padding: 15px;
  }
  .bubbles-text > .btn {
    margin-bottom: 0;
  }
  main .bubbles-divider .icons {
    padding: 0;
  }
  .partners-mobile {
    height: 370px;
  }
  .partners-mobile .logo-col {
    height: auto;
  }
  footer h2 {
    padding: 5px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  footer .subscribe form {
    flex-direction: column;
  }
  footer .subscribe form input {
    border-radius: 5px;
    margin-bottom: 10px;
  }
  footer .subscribe form button {
    border-radius: 5px;
    width: 100%;
  }
  footer .gray-line {
    display: none;
  }
}
